body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.article-content {
  max-width: 800px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0， 0， 0， 0.1);
  padding: 20px;
}

.toc {
  list-style: 无;
  margin: 0;
  padding: 0;
}

.toc li {
  margin-bottom: 10px;
}

.toc a {
  text-decoration: 无;
  color: #333;
  font-size: 14px;
}
code {
	padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    /* background-color: rgba(175,184,193,0.2); */
    border-radius: 6px;
}

code {
     border-radius: 10px;
	font-family: Consolas,"Microsoft YaHei UI Light";
	font-size: 91%;
    position: relative;
}

pre {
    position: relative;
}
span.copy-button {
    float: right;
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 90%;
    user-select: none;
    color: var(--p-color);
    cursor: pointer;
}

.slidebar {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color: #f2f2f2;
}

body {
    background-color: #f9f9f9;
}

* {
    font-family: "Microsoft YaHei UI Light";
}

h2#titlea {
    position: absolute;
    left: 10px;
}
