.message-text.response {
    text-align: left;
}

.row.message-bubble {}

.message-text.request {
    text-align: right;
}

.col-xs-12 {
    bottom: 20px;
    position: fixed;
    width: 800px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
}

input.form-control {
 width: 730px;
    height: 30px;
    font-size: 13px;
    resize: none;
    font-family: "Microsoft YaHei UI Light";
    border-radius: 8px;
}

img.chatGPT {
    width: 24px;
}

div#chatWindow {
    width: 800px;
    margin: 0 auto;
}

p {
    padding: .1rem 1rem;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: .4rem;
    max-width: 800px;
    width: fit-content;
}

.message-text.request {
  position: absolute;
    right: 345px;
    padding: .1rem 1rem;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: .4rem;
    max-width: 800px;
    width: fit-content;
}

.tip {
  top: 80px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 500px;
  height: 600px;
  margin: 0 auto;
  position: absolute;
}

img.me {
  width: 24px;
  float: right;
  display: initial;
}

.hljs input.copy {
    float: right;
}

code {
     border-radius: 6px;
    background-color: rgba(175, 184, 193, .2);
}