body {
    background-color: #FFFFFF;
}
a {
    text-decoration: none;
    color: red;
    text-align: center;
    align: center;
}

span {
    text-align: left;
    align: left;
}
.bk {
    background-color: #cde1be;
    height: 120px;
    width: 100%;
    line-height: 25px;
    position: absolute;
    top: 0px;
    left: 0;
}.bk li{
    float:right;
    width:75px;
    text-align:center;
}
.ul_top{
    list-style: none;
    position: absolute;
    top: 0px;
    left: 250px;
}    
.bk a{
    display:block;
    color:black;
    text-decoration: none;
    width: 80px;
    line-height: 30px;
}
.bk a:hover{
    color:white;
    background:black;
}

.docmain {
    width:800px;
    margin: 0 auto;
}

h1 {
    text-align: left;
    align: left;
    display: block;
}

p.info {
    padding: .5rem 1rem;
    background-color: rgba(24,144,255,0.1);
    border: 1px solid #1890ff;
    border-radius: .4rem;
}

footer {
    position:absolute;
    color:#fff;
    bottom:0;
    width:100%;
    height:100px;
    line-height:100px;
    text-align:right;
    margin: 0 auto;
    background-color: #000;
}
