html {
	font-family: "Microsoft Yahei UI Light";
        font-size: 90%;
}

body {
    background-color: #FFFFFF;
}

.canary {
    position: fixed;
    text-align: center;
    margin: 0 auto;
    /* width: 200px; */
    height: 100%;
    right: 0px;
    left: 0px;
    background-color: #000000;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: red;
    text-align: left;
}

a:hover {
    text-decoration: underline;
    color: #00FFFF;
}

span {
    text-align: left;
    align: left;
}
.bk {
    background-color: #f2f2f2;
    color: #000000;
    height:70px;
    width: 100%;
    line-height: 25px;
    position: fixed;
    top: 0px;
    left: 1px;
}.bk li{
    float:center;
    width:50px;
    text-align:center;
    display:inline-block;
}
.ul_top{
    list-style: none;
    position: absolute;
    top: 0px;
    right: 0px;
}    
.bk a{
    display:block;
    color:black;
    text-decoration: none;
    width: 50px;
    line-height: 30px;
}
.bk a:hover{
    color:rgba(252, 77, 80, 0.5);
}

.docmain {
    width:800px;
    margin: 0 auto;
}

h1 {
    text-align: left;
    align: left;
    display: block;
}

p.info {
    padding: .5rem 1rem;
    background-color: rgba(24,144,255,0.1);
    border: 1px solid #1890ff;
    border-radius: .4rem;
}

footer {
    position: fixed;
            left: 0px;
            bottom: 0px;
            width: 100%;
            height: 50px;
            background-color: #f2f2f2;
            z-index: 9999;
            color: black;
}

button{
	            background-color:#000000;
	            color:white;
	            height: 25px;
	            border:0;
	            font-size: 16px;
	            box-sizing: content-box;				
                border-radius: 5px;
	        font-family: "Microsoft YaHei UI Light";
            }
            button:hover{
	            background-color: #a54b4a;
            }

code {
	font-family: "Microsoft Yahei UI Light";
	font-size: 91%;
}
