.Home {
  color: #000000;
  float: right;
  border: 1px solid #00f;
}
.Down {
  color: #000000;
  float: right;
  border: 1px solid #00f;
}
body {
  Background-color: #000000;
  color: #000000;
}
img {
  width: 40;
  height: 40
}
