@font-face{
            font-family: "Microsoft Yahei Ui Light";
            src: url("./assets/msyhl.ttc");
}

pre {
    position: relative;
}
span.copy-button {
    float: right;
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 90%;
    user-select: none;
    color: var(--p-color);
    cursor: pointer;
}
        
h1 {
 moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

h2 {
 moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}


.message-text.response {
    text-align: left;
    border-radius: .4rem;
    max-width: 90%;
    width: fit-content;
    padding-top: .1rem;
    padding-bottom: .1rem;
    padding-left: .75rem;
    padding-right: .75rem;
    position: relative;
}


.col-xs-12 {
    width: 840px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    z-index: 4;
}

input.form-control {
    height: 30px;
    font-size: 13px;
    resize: none;
    font-family: "Microsoft YaHei UI Light";
    border-radius: 8px;
	    border: none;
    outline: none;
}

img.chatGPT {
    width: 24px;
    filter: drop-shadow(0px 0px 10px var(--p-color))
}

div#chatWindow {
    width: 76%;
    margin: 0 auto;
}


.message-text.request {
  border-radius: .4rem;
  max-width: 90%;
  width: fit-content;
  padding-top: .1rem;
  padding-bottom: .1rem;
  padding-left: .75rem;
  padding-right: .75rem;
  /* display: flex; */
  float: right;
  
}


a#settings {
    background: no-repeat;
    height: 30px;
    background-size: 50%;
    /* line-height: 30px; */
    background-position-x: 10px;
    background-position-y: 3px;
}

.tip {
  top: 80px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 90%;
  height: 99%;
  margin: 0 auto;
  position: absolute;
}

img.me {
  width: 24px;
  float: right;
  display: initial;
  filter: drop-shadow(0px 0px 10px var(--p-color));
}

.hljs input.copy {
    float: right;
}

code {
     border-radius: 10px;
	font-family: "Microsoft YaHei UI Light";
	font-size: 91%;
    position: relative;
}

.preload__loading {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    border: 7px solid currentColor;
    border-bottom-color: #2f3447 !important;
    position: relative;
    animation: r 1s infinite cubic-bezier(0.17, 0.67, 0.83, 0.67), bc 2s infinite ease-in;
    transform: rotate(0deg);
}

.About {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: white;
    -webkit-app-region: drag;
}

.About * {
    -webkit-app-region: no-drag;
}

button[disabled="true"] {
    display: none;
}

button#chatBtn {
 background: url(Send.png) no-repeat;
 /* height: auto; */
 /* width: auto; */
 cursor: pointer;
 outline: none;
 background-size: contain !important;
 FONT-WEIGHT: 200;
 height: 30px;
 /* padding: 0; */
 width: 30px;
}

button#savejson {
    background: url(save.png) no-repeat;
    height: auto;
    width: auto;
    cursor: pointer;
    outline: none;
    background-size: contain !important;
    FONT-WEIGHT: 200;
    height: 30px;
    width: 30px;
	/* Flutas Ai 4.2 Open */
	/* display:none; */
}

.StopRepose {
    margin: 0 auto;
    width: max-content;
    bottom: 70px;
    position: fixed;
    height: 30px;
    left: 0;
    right: 0;
    border-radius: 4px;
    padding: inherit;
    display: block;
    cursor: pointer;
    z-index: 9999999;
}

.bk h2 {
    width: fit-content;
}

.control {
    position: fixed;
    left: 0;
    top: 0px;
    height: 800px;
    width: 200px;
}

.left {
        position: fixed;
    width: 99%;
    height: 99.7%;
    left: 0px;
    top: 0px;
    z-index: 5;
    border: 1px solid red;
}

.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

a#settings:hover {
    background: no-repeat;
    transform: rotate(15deg);
}

.left{
            transition: width 0.4s ease-out, opacity 0.2s ease-in, visibility 0.2s ease-in;
            width: 0;
            height: '80%';
            visibility: 0;
            opacity: 0;
            display: none;
        }

        .active { 
                opacity: 1;
                visibility: 1;
                width: 99%;
                display: block;
        }

input[type=checkbox] {
  visibility: hidden;
}

.checkBox {
  width: 40px;
    height: 10px;
    background: #555;
    position: relative;
    border-radius: 3px;
}

.checkBox label {
  display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: -3px;
    left: -3px;
    background: #ccc;
}

.checkBox input[type=checkbox]:checked + label {
    left: 27px;
}

input#keyinput {
	resize: none;
    font-family: "Microsoft YaHei UI Light";
    border-radius: 8px;
    border: none;
    background: rgb(244 246 248 / 1);
    outline: none;
    width: 200px;
}

span {
    font-family: "Microsoft YaHei UI Light";
}

.rop {
    bottom: 80px;
    position: fixed;
    width: 800px;
    height: 60px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    z-index: 4;
    background-color: #f2f2f2;
    font-size: 80%;
    transition: width 0.4s ease-out, opacity 0.2s ease-in, visibility 0.2s ease-in;
}

.act{ 
    opacity: 1;
    visibility: 1;
    height: 48px;
}

/* 
.press:after {
    content: "|";
    animation: heart 1.2s ease infinite;
}
*/



@keyframes heart {
        0% {opacity:0;background:white;}
        100%{opacity:1;background:black;}
 }

.aButton{
	cursor: pointer;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	background: #0071e3;
	color: #fff;
	border-radius: 980px;
	font-size: 12px;
	line-height: 1.33337;
	font-weight: 400;
	letter-spacing: -.01em;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	min-width: 23px;
	padding-left: 11px;
	padding-right: 11px;
	padding-top: 4px;
	padding-bottom: 4px;
}

a#mediap {
    background: url(Music.png) no-repeat;
    height: 30px;
    background-size: 50%;
    /* line-height: 30px; */
    background-position-x: 10px;
    background-position-y: 3px;
}

input.form-control:focus {
    outline: .5px solid yellow;
}

#color-picker {
    width: 28px;
    height: 28px;
    outline: none;
    border: none;
}

body {
    background-color: #f2f2f2; /* 白天模式背景色 */
    color: black; /* 白天模式文本颜色 */
  }

  body {
    height: 99.7vh;
  }
  
  .night-mode {
    background-color: #1f1f1f; /* 夜间模式背景色：深灰色 */
    color: white; /* 夜间模式文本颜色：白色 */
  }
  
  .night-mode h1, .night-mode p {
    color: #bfbfbf; /* 夜间模式文本颜色：淡灰色 */
  }

span.response-end {
    position: absolute;
    margin: auto;
    right: 0px;
    cursor: pointer;
    user-select: none;
}

.answer {
    position: relative;
}

p.error {word-wrap: break-word;}

input#color-picker {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom right, var(--selected-color), var(--selected-color) 49%, #fff 50%);
    outline: none;
    cursor: pointer;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  }

  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
  }

  a#settings>img {
    width: 30px;
}