.message-text.request {
    --tw-bg-opacity: 1;
    background-color: rgb(30 30 32 / var(--tw-bg-obacity));
    border: 1px solid #f2f2f2;
}

.message-text.response {
    --tw-bg-opacity: 1;
    background-color: rgb(30 30 32 / var(--tw-bg-obacity));
    border: 1px solid #f2f2f2;
}

code {
    background-color: #8d8b8b;
    color: #fff;
}

input.form-control {
    background-color: #8a8383;
}

.message-text>p {
    color: white;
}

.message-text>ol {
    color: white;
}

input.form-control::placeholder {
    color: #f9f9f9;
    font-family: "Microsoft YaHei UI Light";

  }

.left {
    background: #1f1f1f;
}

.left>span[onclick="$(\'.left\')[0].setAttribute(\'class\',\'left\');"] {
    background: white;
}

.press:after {
    content: "|";
    color: white; /* 设置字体颜色为黑色 */
    animation: blink 1.2s ease infinite;
}

@keyframes blink {
    0% { opacity: 0; } /* 关键帧初始状态：透明度为0 */
    50% { opacity: 1; } /* 关键帧中间状态：透明度为1 */
    100% { opacity: 0; } /* 关键帧结束状态：透明度为0 */
}

button#toggle-mode {
    background: no-repeat;
    height: auto;
    width: auto;
    cursor: pointer;
    outline: none;
    background-size: contain !important;
    FONT-WEIGHT: 200;
    height: 30px;
    width: 30px;
}
.StopRepose {
    background-color: black;
}